.pageStyling{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.cardExternal{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    padding: 1rem;
    max-width: 30rem;
}
